<!-- backpack.html -->
  <div class="container">
    <div class="list-group-item" style="border:none;">
      <div class="row skill-row" ng-repeat="junk in beltCtrl.currentJunk">
        <div class="col-md-2" ng-repeat="(key, value) in junk">
          <img class="junk-image col-md-9" name="{{value[0].junk.name}}" modone="{{value[0].junk.modDescription1}}" modtwo="{{value[0].junk.modDescription2}}" modthree="{{value[0].junk.modDescription3}}" rel="tooltip" class="skillImage" ng-src={{"http://www.cartoonnetwork.com/games/adventuretime/adventure-time-battle-party/assets/img/icons/backpacks/"+key+".png"}}>
        </div>
        <div class="col-md-6 skill-table">
          <table class="table table-bordered" style="border:none;" cellspacing="1" ng-controller="TableController as tableCtrl">
            <tbody>
              <tr >
                <td ng-repeat="level in tableCtrl.levels track by $index" class="skill" ng-click="level = !level"
                ng-class="{'danger': hover, 'selected': level}"  ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                  {{$index + 1}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<script>
$(function() {
  $( document ).tooltip({
    items: "img, [modone]",
    track: true,
    content: function() {
      var element = $( this );
      if ( element.is( "[modone]" ) ) {
        var name = element.attr("name");
        var src  = element.attr("src");
        var mod1 = element.attr("modone");
        var mod2 = element.attr("modtwo");
        var mod3 = element.attr("modthree");
        var html = "<div id='tooltip' style='right: auto;' class=''><div><div><img class='float-left margin-right' src="+ src + " ><div><h2>" + name + "</h2></span><br>" + mod1
        if(mod2 != "") {
          html += "<br>" + mod2;
        }
        if(mod3 != "") {
          html += "<br>" + mod3;
        }
        html += "</div></div></div></div>";
        return html;
      }
      if ( element.is( "[title]" ) ) {
        return element.attr( "title" );
      }
      if ( element.is( "img" ) ) {
        return element.attr( "alt" );
      }
    }
  });
});
</script> 
