.clicked {
  background-color: green;
}

.skill {
  height: 32px;
  width: 50px;
  float:left;
  text-align: center;
}

.skillImage {
  display:block;
  margin:auto;
}

.skill-row {
  padding: 10px;
}

td {
  margin-left: 1px;
  margin-right: 1px;
}

td.selected {
  background-color: #8E91F8;
}

div.ui-tooltip {
  max-width: 410px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.champ-name {
  text-align: center;
}

a img.champ-image {
  display:block;
  margin:auto;
}

a.champ-link {
  color: black;
  text-decoration: none;
}

img.junk-image {
  margin : auto;
  height: 20%;
  padding: 0;
}

div.passive {
  background-color:#f9f9f9;
}

div.skill-table {
  padding-top: 29px;
}

p {
  font-size:14px;
}