.clicked {
  background-color: green;
}

.skill {
  height: 32px;
  width: 50px;
  float:left;
  text-align: center;
}


td.char {
  margin-left: 1px;
  margin-right: 1px;
}

td.char.selected {
  background-color: #8E91F8;
}

div.ui-tooltip {
  max-width: 410px;
  font-size: 15px;
}

.champ-name {
  text-align: center;
}

a img.champ-image {
  display:block;
  margin:auto;
}

a.champ-link {
  color: black;
  text-decoration: none;
}

.passive {
  background-color:#f9f9f9;
}

.skill-table {
  padding-top: 29px;
}

p {
  font-size:14px;
}

table img{
  width: 82px;
  height: 82px;
  padding: 0;
  margin:0;
}

table img.champ-image{
  width: 108px;
  height: 75px;
  padding: 0;
  margin:0;
}


table tr td.junk { 
  padding: 0;
  margin:0;
  width: 83px;
  height: 83px; 
}

th {
  text-align:center;
  padding: 0;
  margin:0;
}

table.champs tbody tr td{
  padding:0;
  vertical-align: middle;
  font-size:10pt;
}

td.stats {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}