@(backpack: controllers.Backpack)

@main{
<div id="skill1" class="row">
  <div class="row">
    <h3 >Hero Skills</h3>
    <div class="list-group">
      @for(slot <- backpack.junk) {
      <div class="list-group-item row">
        <h4 class="list-group-item-heading">@slot._1</h4>
        <table class="col-md-11 table table-bordered" cellspacing="1" style="width:100%">
          <tbody>
            <tr>
              <td class="col-md-1" style="padding:0px">
                <img class="widthskill-icon" style="width:100%;" src="@routes.Assets.at("images/backpack/junk_1_ax_bass.png")">
              </td>
              <td class="col-md-1"></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td ></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="selected c">7</td>
              <td>&nbsp;</td>
              <td class="selected c">9</td>
              <td>&nbsp;</td>
              <td rowspan="2" class="c" style="background:none; border:none; width:40px;"><img src="/images/key-q.png"></td>
            </tr>
          </tbody>
        </table>
      </div>
    }
    </div>
  </div>
</div>
<script>
$( "td" )
  .mouseover(function() {
    $( this ).toggleClass("danger");
  })
  .mouseout(function() {
    $( this ).toggleClass("danger");
  });
 
var n = 0;
$( "div.enterleave" )
  .mouseenter(function() {
    n += 1;
    $( this ).find( "span" ).text( "mouse enter x " + n );
  })
  .mouseleave(function() {
    $( this ).find( "span" ).text( "mouse leave" );
  });
$("td").click(function(){
    $( this ).toggleClass("success");
})
</script>
}