@(actor: models.Actor)

@herourl(text: String) = @{"http://www.cartoonnetwork.com/games/adventuretime/adventure-time-battle-party/assets/img/icons/champions/"+text+".png"}

@skillurl(text: String) = @{"http://www.cartoonnetwork.com/games/adventuretime/adventure-time-battle-party/assets/img/icons/powers/"+text+".png"  
}

@roleurl(text: String) = @{"http://www.cartoonnetwork.com/games/adventuretime/adventure-time-battle-party/assets/img/icon_role_" + text + ".png"}

@strip(text:String, filter:String) = @{
  text.replace(filter,"")
}

@main(title = actor.displayName){  
<div class="container">
  <div class="self-clear box-p row">
    <div class="col-md-6">
      <h1 class="c">
        <span>ATBP</span>
        <br>
        @actor.displayName
      </h1>
      <div class="c"><img class="img-bdr" src=@herourl(actor.name)></div>
      <br>
      <div class="role-box">
        <table class="table table-striped table-hover" cellspacing="2">
          <tbody>
            <tr>
              <td>Attack Type:</td>
              <td> 
                <img src=@roleurl(actor.attackType.toLowerCase)>
                <span class="hiliteW">@actor.attackType.toLowerCase.capitalize</span>
              </td>
            </tr>
            <tr>
              <td>Role(s):</td>
              <td>
                <img alt="@actor.role1" src=@roleurl(actor.role1.toLowerCase)>
                <span>@actor.role1.toLowerCase.capitalize</span>
                <img alt="@actor.role2" src=@roleurl(actor.role2.toLowerCase)>
                <span>@actor.role2.toLowerCase.capitalize</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div>
          <h3>@actor.displayName's Stats</h3>
          <div class="stat-box">
            <table class="table table-striped table-hover" cellspacing="1">
              <tbody>
              <tr class="bg2">
                <td class="h-atr c">Attack Damage</td>
                <td><span class="hiliteG">@actor.stats.attackDamage + @actor.stats.attackDamagePerLevel/level</span></td>
              </tr>
              <tr class="bg1">
                <td class="h-atr c">Power Damage</td>
                <td><span class="hiliteG">@actor.stats.spellDamage + @actor.stats.spellDamagePerLevel/level</span></td>
              </tr>
              <tr class="bg1">
                <td class="h-atr c">Armor</td>
                <td><span class="hiliteG">@actor.stats.armor + @actor.stats.armorPerLevel/level</span></td>
              </tr>
              <tr class="bg2">
                <td class="h-atr c">Shields</td>
                <td><span class="hiliteG">@actor.stats.spellResist + @actor.stats.spellResistPerLevel/level</span></td>
              </tr>
              <tr class="bg1">
                <td class="h-atr c">Attack Speed</td>
                <td><span class="hiliteG">@actor.stats.attackSpeed - @actor.stats.attackSpeedPerLevel/level</span></td>
              </tr>
              <tr class="bg1">
                <td class="h-atr c">Movement</td>
                <td><span class="hiliteG">@actor.stats.speed</span></td>
              </tr>
              <tr class="bg2">
                <td class="h-atr c">Health</td>
                <td><span class="hiliteG">@actor.stats.health + @actor.stats.healthPerLevel/level</span></td>
              </tr>
              <tr class="bg2">
                <td class="h-atr c">Range</td>
                <td><span class="hiliteG">@actor.stats.attackRange</span></td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
      
    <div class="col-md-6">
      <div class="list-group">
        <div class="list-group-item row passive">   
            <img class="col-md-3 @actor.passive.spellType.toLowerCase" spell="@actor.passive.spellType.toLowerCase" src=@skillurl(actor.passive.spellImage) />
            <div class="row col-md-9">
              <h4 class="list-group-item-heading">@actor.passive.name</h4>
              <p class="list-group-item-text">@actor.passive.desc</p>
            </div>
          </div>
        @for(spell <- actor.spells) {
          <div class="list-group-item row spell">   
            <img class="col-md-3 @spell.spellType.toLowerCase" spell="@spell.spellType.toLowerCase" src=@skillurl(spell.spellImage) />
            <div class="row col-md-9">
              <h4 class="list-group-item-heading">@spell.name</h4>
              <p class="list-group-item-text">@spell.desc</p>
            </div>
          </div>

          }
        </div>
      </div>
    </div>
  </div>
</div>

} {
<script>
  $(function() {
    $( document )
    .tooltip({
      items: "img, [spell]",
      track: true,
      content: function() {
        var element = $( this );
        if ( "@actor.passive.spellType.toLowerCase" == element.attr("spell") ) {
            console.log("we in");
            var name = "@actor.passive.name";
            var key  = "@actor.passive.spellType.toLowerCase.capitalize";
            var src  = element.attr("src");
            var ind  = '@strip(actor.passive.castIndicator.toLowerCase, "dynamic_").capitalize';
            var range= "@actor.passive.range";
            var type = '@strip(actor.passive.castType.toLowerCase,"targeted_").capitalize';
            var delay= @actor.passive.castDelay/1000.0;
            var cd   = @actor.passive.coolDown/1000.0;
            var gcd  = @actor.passive.globalCoolDown/1000.0;
            var dam  = "@actor.passive.damage";
            var damr = "@actor.passive.damageRatio";
            var area = "@actor.passive.area";
            var dur  = @actor.passive.duration/1000.0;
        }
        @for(spell <- actor.spells) {
        if ( "@spell.spellType.toLowerCase" == element.attr("spell") ) {
          console.log("we in");
          var name = "@spell.name";
          var key  = "@spell.spellType.toLowerCase.capitalize";
          var src  = element.attr("src");
          var ind  = '@strip(spell.castIndicator.toLowerCase, "dynamic_").capitalize';
          var range= "@spell.range";
          var type = '@strip(spell.castType.toLowerCase,"targeted_").capitalize';
          var delay= @spell.castDelay/1000.0;
          var cd   = @spell.coolDown/1000.0;
          var gcd  = @spell.globalCoolDown/1000.0;
          var dam  = "@spell.damage";
          var damr = "@spell.damageRatio";
          var area = "@spell.area";
          var dur  = @spell.duration/1000.0;
        }
        }
        if (element.is("[spell]")) {
          var html = "<div id='tooltip' style='right: auto;max-width: 400px;overflow: hidden;white-space: nowrap;' class=''><div><div><img class='margin-right' src="+ src + " ><div><h2>" + name + "</h2><h5>" + key + "</h5></span>";
          html += "<div class='col-md-5'>";
          html += "<div class='row'>Cast Indicator: "+ind + "</div>";
          html += "<div class='row'>Range: "+range+"</div>";
          html += "<div class='row'>Cast Type: "+type+"</div>";
          html += "<div class='row'>Cast Delay: "+delay+"s</div>";
          html += "<div class='row'>Cooldown: "+cd + "s</div>";
          html += "</div><div class='col-md-1'></div><div class='col-md-5'>";
          html += "<div class='row'>CD Reduce/level: "+gcd+"s</div>";
          html += "<div class='row'>Damage: " + dam+"</div>";
          html += "<div class='row'>Damage Ratio: "+damr+"</div>";
          html += "<div class='row'>Area: "+area+"</div><div class='row'>Duration: "+dur+"s</div>";
          html += "</div></div></div></div></div>";
          return html;
        }
        if ( element.is( "[title]" ) ) {
          return element.attr( "title" );
        }
        if ( element.is( "img" ) ) {
          return element.attr( "alt" );
        }
      }
    })
});

</script> 
}