<div id="tooltip" style="display: none; right: auto; left: 1285px; top: 785px;" class=""><div class="ttip-box ttip-db">
<div class="self-clear">
<img class="db-pic float-left margin-right" src="/images/item/stout-shield.png">
<div class="ttip-text">
<h2 class="hiliteW">Stout Shield</h2>
<div class="subhead">Shops: <span class="hiliteG">Main Shop, Side Lane Shop</span></div> <div class="subhead">Categories: <span class="hiliteG">Armaments</span></div> <div class="subhead">
Passive Effect </div>
Total Cost: <span class="hiliteY">250 <img src="/images/bp.png"></span><br> <p><b>Passive: Damage Block - </b>Gives a a 60% chance to block damage from physical attacks.<br>
<br>
<b>Damage Blocked: <span style="color:#fbb040">20</span> (melee) / <span style="color:#fbb040">10</span> (ranged)</b><br>
<br>
<span style="font-size:.83em"><span style="color:#afafaf">One man's wine barrel bottom is another man's shield.</span></span></p><div style="clear:both;"></div><p></p>
</div>
</div>
</div></div>