@main {
  Yo whatup world

  <div id="skill1" class="row">
    <div class="row">
      <div class="col-lg-2">
        <img src="@routes.Assets.at("images/backpack/junk_1_ax_bass.png")">
      </div>
      <div class="col-lg-10">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
      </div>
    </div>
  </div>
}